@font-face {
  font-family: 'hanson';
  src: url('../public/Hanson-Bold.ttf') format('truetype');
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

$COLOR_MAIN: #f3096b;

* {
  margin: 0px;
  font-family: 'Pretendard';
  user-select: none;
}

:root {
  background-color: #01000a;
  color: $COLOR_MAIN;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  width: fit-content;
  margin: 0px auto;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  width: fit-content;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px;

    &.title {
      padding: 0px;
      padding-bottom: 12px;
    }

    p {
      font-size: 13px;
      font-weight: 200;
    }
    
    h1 {
      font-family: 'hanson';
      font-size: 180px;
      line-height: 0.78em;
    }
    
    hr {
      border: 0;
      width: 40px;
      height: 1px;
      background: $COLOR_MAIN;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  width: 100%;
  font-size: 24px;
  font-weight: 200;

  a {
    text-decoration: none;
    color: #fff;
    padding: 6px 0px;
    border-radius: 10px;

    
    &:hover {
      background: #fff1;
      outline: 1px solid #fff;
    }
  }
}