@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");

$COLOR_MAIN: #f3096b;
$COLOR_BG: #01000a;

* {
  margin: 0px;
  font-family: 'Pretendard';
  user-select: none;
}

body {
  background-color: $COLOR_BG;
}

@keyframes wiremove {
  from {
    background-position: 0px -100%;
  }
  to {
    background-position: 0px 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.grid {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('/grid.png');
  animation:
    wiremove 50s linear infinite,
    fadeIn 0.6s linear;
}

.vignetting {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: radial-gradient( circle, transparent 80%, #000000 100%), transparent;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  width: fit-content;
  margin: 0px auto;
  padding-top: 3rem;
  box-sizing: border-box;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  width: fit-content;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $COLOR_MAIN;

    &.title {
      padding: 10px 0px;

      img {
        width: 530px;
        filter: drop-shadow(0px 0px 12px rgba($COLOR_MAIN, 0.25));
      }
    }

    h1 {
      font-size: 180px;
      line-height: 0.78em;
      filter: drop-shadow(0px 0px 12px rgba($COLOR_MAIN, 0.25));
    }

    .pattern {
      width: 300px;
      height: 10px;
      background: repeating-linear-gradient(45deg, transparent, transparent 3px, $COLOR_MAIN 0, $COLOR_MAIN 6px);
      margin-left: auto;
      margin-right: 8px;
    }

    p {
      font-size: 13px;
      font-weight: 200;
    }
    
    hr {
      border: 0;
      width: 40px;
      height: 1px;
      background: $COLOR_MAIN;
    }
  }
}

@keyframes blink-effect1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-effect2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-effect3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.blink1 {
  animation: blink-effect2 0.15s linear;
}

.blink2 {
  animation: blink-effect1 0.25s linear;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  font-size: 22px;
  font-weight: 200;
  visibility: hidden;

  &.show {
    visibility: unset;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
    border-radius: 10px;
    
    &:hover {
      backdrop-filter: blur(3px);
      background: rgba($COLOR_MAIN, 0.02);
      outline: 1px solid $COLOR_MAIN;
      box-shadow: 0px 0px 12px rgba($COLOR_MAIN, 0.25);
      animation: blink-effect3 0.1s linear;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      width: 120px;
      padding-left: 8px;
    }
    
    svg {
      fill: #fff;
      width: 22px;
      height: 22px;
    }
  }
}